<ion-app>

    <ion-menu side="start" menuId="menuPrincipal" contentId="main">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>menu principal </ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>Mis viajes</ion-item>
            <ion-item>Mi billetera</ion-item>
            <ion-item>ayuda</ion-item>
            <ion-item>Mensajes</ion-item>
            <ion-item>Centro de ayuda</ion-item>
            <ion-item>Configuracion</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>



<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>